*{
    padding:0;
    margin:0;
}

.main{
    /* background-image:url("https://static.toiimg.com/photo/72975551.cms");
    background-size:100% ;
    background-repeat: no-repeat; */
    background: linear-gradient(rgb(0, 0, 0),rgb(0, 19, 128));
    min-height:750px;
    height:750px;;
}

.cal-container{
    
    position: absolute;
    margin:5% 33% 0 ;
    height:600px;
    width:500px;
    border-radius: 20px;
    box-shadow: 10px 10px 60px black;
    background-color:rgb(221, 199, 151)
    
   
    
}
#cal-output{
     position: relative;
     margin:20px;
     height:150px;
     border-color: black;
     border-style: solid;
     border-width:1px;
     background-color: white; 
     border-radius: 20px;
}
.cal-numbers button{
    border-style: none;
    height:55px;
    width:55px;
    border-radius:100px;
    background-color: white;
    font-size: 20px;
    /* box-shadow: 10px 10px 60px black; */

}
.cal-numbers{

    height:370px;
    width:250px;
    margin:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    /* box-shadow: 10px 10px 30px black; */
   
}
.cal-numbers button.cal-result{

    height:60px;
    width:100px;

}
.cal-signs button{

    
    height:70px;
    width:70px;
    font-size: 20px;
    background-color: rgb(233, 187, 62); 
    border-radius:100px;
    border-style: none;
    
}
#output{

    text-align: left;
    font-size: 36px;
    height:30px;
    width:430px;
   
    position: relative;
    top:90px;
    margin: 10px;
    

}
.cal-signs{
 
     margin:10px;
     height:200px;
     width:300px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     
   
}
.buttons{
 
    display:flex;
}